@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    <h1 class="display-4">Books!!!</h1>
    <h3>I'll add more stuff later..books about history and reenactment..</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
