@{
    ViewData["Title"] = "Links";
}

<div class="text-center">
    <h1 class="display-4">Links to social media groups and other interesting places!!!</h1>
    <h3>I'll add more stuff later.. And  the topic will be reenactment..</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
