@{
    ViewData["Title"] = "Sources";
}

<div class="text-center">
    <h1 class="display-4">Sources main page!!!</h1>
    <h3>I'll add more stuff later.. And  the topic will be reenactment..</h3>
    <h6><a href="Links">Click here for Links!!</a></h6>
    <h6><a href="Books">Click here for a selection of books!!</a></h6>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
