@model StoriesModelForm
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

@{
    string title = ViewBag.Action + " Story";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<h2>Confirm Deletion</h2>
<h3>@Model.StoryTitle (@Model.StoryTopic)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="StoryID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Stories"
       class="btn btn-primary">Cancel</a>
</form>